* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#game-area button {
    margin: 1em;
}

#info-container {
    display: flex;
    flex-direction: row;
}

#info-container > * {
    margin: 1em;
}

#game-text {
    font-size: 2em;
    font-weight: bold;
    color: #121212;
}